<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Restoration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>448864A91F408C4B00127FEE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DDF6CD1F446CDA008CFF2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DDF6FE1F4475DA008CFF2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
