<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PhotoKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>VignetteFilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>VignetteKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>VignettePhotoExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3276DA4D1BC0A17900DDD64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32C5A8851C5C0CE600064A33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32EBFD6F19A10EA9008F9D28</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CEA5C71DF83EDC00CD023A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
