<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>caption</key>
		<string>December</string>
		<key>imageName</key>
		<string>12-December</string>
		<key>section</key>
		<string>Winter</string>
		<key>index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>January</string>
		<key>imageName</key>
		<string>01-January</string>
		<key>section</key>
		<string>Winter</string>
		<key>index</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>February</string>
		<key>imageName</key>
		<string>02-February</string>
		<key>section</key>
		<string>Winter</string>
		<key>index</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>March</string>
		<key>imageName</key>
		<string>03-March</string>
		<key>section</key>
		<string>Spring</string>
		<key>index</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>April</string>
		<key>imageName</key>
		<string>04-April</string>
		<key>section</key>
		<string>Spring</string>
		<key>index</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>May</string>
		<key>imageName</key>
		<string>05-May</string>
		<key>section</key>
		<string>Spring</string>
		<key>index</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>June</string>
		<key>imageName</key>
		<string>06-June</string>
		<key>section</key>
		<string>Summer</string>
		<key>index</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>July</string>
		<key>imageName</key>
		<string>07-July</string>
		<key>section</key>
		<string>Summer</string>
		<key>index</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>August</string>
		<key>imageName</key>
		<string>08-August</string>
		<key>section</key>
		<string>Summer</string>
		<key>index</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>September</string>
		<key>imageName</key>
		<string>09-September</string>
		<key>section</key>
		<string>Fall</string>
		<key>index</key>
		<integer>9</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>October</string>
		<key>imageName</key>
		<string>10-October</string>
		<key>section</key>
		<string>Fall</string>
		<key>index</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>caption</key>
		<string>November</string>
		<key>imageName</key>
		<string>11-November</string>
		<key>section</key>
		<string>Fall</string>
		<key>index</key>
		<integer>11</integer>
	</dict>
</array>
</plist>
