<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PoppverDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>UIPopoverDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>UISplitViewControllerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>UIViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4459BC901EE0631600717B8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>448AC24B1EF2BF7200013F08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>449D1CB21E992C57000C7446</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44DDF6E51F446D0C008CFF2E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
