<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionExtensionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ActionRequestHandler.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Expand.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Shoebox.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44FCAACD1E0AB3AD00AACFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44FCAAE61E0AB52F00AACFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44FCAAFD1E0AB69A00AACFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44FCAB151E0AB76200AACFC2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
