<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>html</string>
		<key>imageName</key>
		<string>html_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>java</string>
		<key>imageName</key>
		<string>java_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>kotlin</string>
		<key>imageName</key>
		<string>kotlin_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>latex</string>
		<key>imageName</key>
		<string>latex_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>objc</string>
		<key>imageName</key>
		<string>objc_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>4</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>scala</string>
		<key>imageName</key>
		<string>scala_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>5</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>swift</string>
		<key>imageName</key>
		<string>swift_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>csharp</string>
		<key>imageName</key>
		<string>csharp_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>cpp</string>
		<key>imageName</key>
		<string>cpp_icon</string>
		<key>section</key>
		<string>lanage</string>
		<key>index</key>
		<integer>8</integer>
	</dict>
</array>
</plist>
